<p id="notice"><%= notice %></p>

<h1>boletos</h1>

<div class="input-group">
  <input type="text" class="form-control" placeholder="Search for your event here">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Go!</button>
    <td><%= link_to 'Search', class: 'btn btn-success' %></td>
  </span>
</div><!-- /input-group -->

<table class='table'>
  <thead>
    <tr>
      <th> Event </th>
      <th> Status </th>
      <th> Title </th>
      <th> Description </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_id %></td>
        <td><%= event.status %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= link_to 'Show', event %></td>
        <%= event %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>