<div class="container">
<center>
<table class='table'>
<thead>
	<tr>
		<th> </th>
		<th> </th>
	</tr>
</thead>
    <tbody>
      <tr>
        <td>Event</td>
        <td><%= @event.event_id %></td>
      </tr>
      <tr>
        <td>Status</td>
        <td><%= @event.status %> </td>
      </tr>
      <tr>
        <td>Title</td>
        <td><%= @event.title %></td>
      </tr>
      <tr>
        <td>Description</td>
        <td> <%= @event.description%>  </td>
      </tr>
   </tbody>
  </table>
  </center>
</div>

<div class="container">
  <h3 class='fuckyou'>Avaliable Tickets</h3>
  <div class="panel-group">
  	<% count = 0 %>
  	<% @ticket_result.each do |ticket| %>
  	<% count = count +1 %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse<%= count %>">
          <%= ticket[0].price %> (<%= ticket.size %> availiable)
          </a>
        </h4>
      </div>
      <div id="collapse<%= count %>" class="panel-collapse collapse">
  		<% ticket.each do |tic| %>
        	<div class="panel-body">
        	<div class="row">
        	<div class="col-xs-12">
        	<div class="col-xs-6">
        		<a data-toggle="modal" data-target="#myModal"><%= tic.t_id %> </button></a></div>
        	<div class="col-xs-6">
        		<p><%= tic.seller_id %></p></div>
        	</div></div>
				  <!-- Modal -->
				  <div class="modal fade" id="myModal" role="dialog">
				    <div class="modal-dialog">
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title-fuck">Buy this ticket?</h4>
				        </div>
				        <div class="modal-body">
					       <table class='table'>
							  <thead>
							    <tr>
							      <th class='fuck'> Ticket ID </th>
							      <th class='fuck'> Seller ID </th>
							      <th class='fuck'> Price </th>
							      <th colspan="3"></th>
							    </tr>
							  </thead>

							  <tbody>
							      <tr class='fuck'>
							        <td id="t_id" class='fuck'><%= tic.t_id %></td>
							        <td id="seller_id" class='fuck'><%= tic.seller_id %></td>
							        <td id="price" class='fuck'><%= tic.price %></td>
							      </tr>
							  </thead>
							</table>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" onclick=venmo()>Check out using Venmo</button>
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				  </div>
        	</div>
    	<% end %>
        <div class="panel-footer"></div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<head style='margin-left: 8cm'>
    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Days before event', '5th Percentile','Expected Price','95th Percentile'],
          ['30',  10, 20, 30],
          ['25',  48, 50, 52],
          ['20',  48, 50, 52],
          ['15',  48, 50, 52],
          ['10',  28, 30, 39],
          ['5',  28, 30, 39],
          ['0' ,  65, 70, 90]
        ]);

        var options = {
          title: '',
          curveType: 'function',
          fontSize: 18,
          backgroundColor: { fill:'transparent' },
          legend: { position: 'none' },
          colors: ['purple','white','purple'],
          vAxes: { 0:	{title: "\n\n\n\n\nPredicted Ticket Price", 
          				titleTextStyle:{color: 'white'},
          				textStyle:{color: 'white'}}
          		},
          hAxes: { 0:{title: "Days until Event", textStyle:{color: 'white'},
          titleTextStyle: {color: 'white'} } 
          }
        };
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 1200px; height: 450px"></div>
  </body>


<header style="margin-top: 6cm"> </header>

<script type="text/javascript">
  function venmo(){
    localStorage.setItem("ss", "SS");
    localStorage.setItem("t_id", document.getElementById("t_id").innerText);
    localStorage.setItem("seller_id", document.getElementById("seller_id").innerText);
    localStorage.setItem("price", document.getElementById("price").innerText);
    window.location.assign("https://api.venmo.com/v1/oauth/authorize?client_id=3190&scope=make_payments%20access_profile");

  }
</script>